{#
/**
 * Card component
 *
 * Variables:
 * - title: Card title
 * - description: Card description
 * - imageUrl: URL of the card image
 * - buttonText: Text for the card button
 * - theme: Theme variation (default, dark, compact)
 */
#}

<div class="card {% if theme %}card--{{ theme }}{% endif %}">
  {% if imageUrl %}
    <img class="card__image" src="{{ imageUrl }}" alt="{{ title }}" />
  {% endif %}
  
  <div class="card__content">
    {% if title %}
      <h3 class="card__title">{{ title }}</h3>
    {% endif %}
    
    {% if description %}
      <p class="card__description">{{ description }}</p>
    {% endif %}
    
    {% if buttonText %}
      <a href="#" class="card__button">{{ buttonText }}</a>
    {% endif %}
  </div>
</div>
