{#
/**
 * Form component
 *
 * Variables:
 * - title: Form title
 * - description: Form description
 * - fields: Array of field objects, each with:
 *   - label: Field label
 *   - name: Field name attribute
 *   - type: Field type (text, email, etc.)
 *   - required: Whether the field is required
 * - submitText: Text for the submit button
 * - theme: Theme variation (default, dark, compact)
 */
#}

<div class="marteko-form {% if theme %}marteko-form--{{ theme }}{% endif %}">
  {% if title %}
    <h2 class="marteko-form__title">{{ title }}</h2>
  {% endif %}
  
  {% if description %}
    <p class="marteko-form__description">{{ description }}</p>
  {% endif %}

  <form class="marteko-form__container">
    {% if fields is defined and fields is iterable %}
      {% for field in fields %}
        <div class="marteko-form__field-group">
          <label class="marteko-form__label" for="{{ field.name }}">
            {{ field.label }}{% if field.required %}<span class="required">*</span>{% endif %}
          </label>
          <input 
            type="{{ field.type|default('text') }}"
            id="{{ field.name }}"
            name="{{ field.name }}"
            class="marteko-form__input"
            {% if field.required %}required{% endif %}
          >
        </div>
      {% endfor %}
    {% endif %}

    {% if submitText %}
      <button type="submit" class="marteko-form__submit">
        {{ submitText }}
      </button>
    {% endif %}
  </form>
</div>
